@media(max-width: 992px){
    
    section{
        padding: 90px 0 !important;
    }

    .btn-theme{
        width: 100% !important;
    }


    /* header */
    header{
        height: 80px;
        background-color: #A993BF;
    }

    header .logo{
        z-index: 999;
        padding-right: 6px;
    }
    
    header .logo img{
        width: 40px;
        margin-bottom: 5px;
    }
    
    header .logo span{
        display: initial;
        font-size: 13px;
        font-weight: 700;
        color: #fff;
        position: relative;
        left: 48px;
        bottom: -25px;
    }
    header .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menu-desktop{
        display: none;
    }
    .hamburguer{
        width: 40px;
        height: 40px;
        margin: 0 auto 0 0;
        padding: 6px;
        display: flex;
        flex-direction: column;        
    }
    .hamburguer div{
        width: 100%;
        height: 4px;
        background: #762EA6; 
        border-radius: 12px;
        margin: auto 0;
        z-index: 9999;
        transition: .4s ease-in;
    }
    .menu-mobile{
        display: initial;
        position: absolute;
        width: 100%;
        height: 100vh;
        padding: 10px;
        top: -1000px;
        left: 0;
        background: #A993BF;
        border: 1px solid #762EA6;
        transition: .4s ease-in;
        z-index: 1;
    }
    .menu-mobile ul{
        width: 100%;
        height: calc(100% - 80px);
        margin-top: 80px;
        padding: 0px;
        border-radius: 13px;
    }
    .menu-mobile ul li{
        border-bottom: 1px solid #762EA6;   
        margin-top: 10px;
        padding-bottom: 4px;
        width: fit-content;
    }
    .menu-mobile ul li a{
        color: #ffffff;
        font-size: 19px;

    }

    .openMenu{
        top: 0 !important;
    }     
    .animateOpemMenu div:nth-child(0n + 2) {
        opacity: 0;
    }
    .animateOpemMenu div:first-child{
        transform: rotate(135deg);
        background: #fff;
    } 
    .animateOpemMenu div:last-child{
        transform: rotate(45deg);
        background: #fff;
    } 
    

    /* header */



    /* main banner */
    .main-banner{
        height: 80vh;
        background-image: none !important;
    }
    .main-banner .container{
        height: 100%;
    }
    .main-banner .container > div{
        width: 100%;
        height: 100%;
        align-items: start;
        justify-content: flex-end;
        padding-bottom: 30px;
    }
    .main-banner h1{
        width: 80%;
        font-size: 50px;
        text-align: start;
        margin-bottom: 30px;
        color: #fff !important;
    }
    /* main banner */


    /* covid */

    .covid .list-data-covid{
        flex-direction: column;
        margin: 40px 0;
    }
    .covid .list-data-covid .covid-item:nth-child(0n + 2){
        border: 0 ;
        border-top: 3px solid #6A36D9;
        border-bottom: 3px solid #6A36D9;
        padding: 30px 0;
        margin: 30px 0;
    }
    .covid .fonte{
        font-size: 12px !important;
        text-align: center !important;
    }
    .covid .tag{
        width: 100% !important;

    }


    /* image-right-with-text-left */
    .image-right-with-text-left{
        height: fit-content;
        padding: 30px 0;
    }
    .image-right-with-text-left .container{
        flex-direction: column;
    }
    .image-right-with-text-left .image{
        width: 100%;   
    }
    .image-right-with-text-left .image img{
        width: 250px;   
    }
    .image-right-with-text-left .text{
        width: 100%;
        margin-right: 0px;
    }
    .image-right-with-text-left .text h2{
        font-size: 29px;
        text-align: center;
    }
    .image-right-with-text-left .text h3{
        font-size: 16px;
        text-align: center;
    }
    /* image-right-with-text-left */


    /* image-left-with-text-right */
    .image-left-with-text-right{
        height: fit-content;
        padding: 30px 0;
    }
    .image-left-with-text-right .container{
        flex-direction: column;
    }
    .image-left-with-text-right .image{
        width: 100%;   
    }
    .image-left-with-text-right .image img{
        width: 250px;   
    }
    .image-left-with-text-right .text{
        width: 100%;
        margin-left: 0px;
    }
    .image-left-with-text-right .text h2{
        font-size: 29px;
        text-align: center;
    }
    .image-left-with-text-right .text h3{
        font-size: 16px;
        text-align: center;
    }
    /* image-left-with-text-right */


    /* list-card */
    .list-card{
        padding: 30px 0;
    }
    .list-card .container > h2{
        font-size: 29px;
        text-align: center;
    }
    .list-card .card-container{
        flex-direction: column;
        padding: 30px 0;
    }

    .list-card .card-container .card-item:nth-child(0n + 2){
        margin: 50px 0;
    }

    /* list-card */



    /* footer */
    footer{
        text-align: center;
        padding: 50px;
    }
    footer h2{
        font-size: 19px;
    }
    footer .container > div{
        flex-direction: column;        
    }

    footer .container > div > div{
        width: 100%;        
    }
    footer .menu {
        display: none;
    }
    footer .contato{
        padding: 0;
        margin: 0;        
        border: 0;
        border-bottom: 1px solid #ffffff ;
        padding-bottom: 30px;
        margin-bottom: 30px;
    }
    footer .contato span{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* footer */
}


