

main{
    width: 100%;   
    max-width: 1920px; 
}

section{
    padding: 115px 0 !important;
}

/* header */

header{
    width: 100%;
    max-width: 1920px;
    height: 110px;   
    position: fixed; 
    transition: .4s ease-in;
}
header > div {
    display: flex;
    height: 100%;
}
header nav {
    width: 100%;    
    display: flex;
    align-items: center;    
}
header nav ul{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}
header nav ul span{
    width: 3px;
    height: 40px;
    background: #ffffff;
    margin-right: 42px;
}

header nav ul li{
    margin-right: 80px;
}
header nav ul li a{
    font-size: 24px;
    font-weight: 400;
}

 .logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

 .logo img{
    width: 40px;
    border: 1px solid #fff;
    border-radius: 50% 
}

 .logo span{
    display: none;
}
.menu-mobile{
    display: none;
}


/* header */


/* main banner */
.main-banner{
    width: 100%;
    height: 717px;
    max-height: 817px;

    display: flex;
    align-items: center;

    background-image: url(../assets/banner/undraw_medicine_b1ol.svg) !important;
    background-position: left bottom !important;
    background-size: 830px !important;
    background-repeat: no-repeat !important;
}
.main-banner .container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.main-banner .container > div{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.main-banner h1{
    font-size: 48px;
    font-weight: 400;
    text-align: end;
    margin-bottom: 50px;
}
/* main banner */


/* image-right-with-text-left */
.image-right-with-text-left{
    height: 535px;
    width: 100%;
    padding: 70px 0;
    border: 1px solid #762EA6;
}
.image-right-with-text-left .container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}
.image-right-with-text-left .image{
    width: 50%;   
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-right-with-text-left .image img{
    width: 450px;   
}
.image-right-with-text-left .text{
    width: 50%;
    margin-right: 10px;
}
.image-right-with-text-left .text h2{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 29px;
}
.image-right-with-text-left .text h3{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 24px;
}
/* image-right-with-text-left */



/* image-left-with-text-right */
.image-left-with-text-right{
    height: 535px;
    width: 100%;
    padding: 70px 0;
    border: 1px solid #762EA6;
}

.image-left-with-text-right .container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-left-with-text-right .image{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-left-with-text-right .image img{
    width: 450px;   
}

.image-left-with-text-right .text{
    width: 50%;
    margin-left: 10px;
}
.image-left-with-text-right .text h2{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 29px;
}
.image-left-with-text-right .text h3{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 24px;
}
/* image-left-with-text-right */


/* covid */

.covid{
    width: 100%;
    padding: 30px 0;    
}
.covid .container > .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.covid .fonte{
    font-size: 16px;
    font-weight: 700;
}
.covid .tag{
    width: 238px;
    height: 28px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #BF3636;
    font-size: 16px;
    font-weight: 400;
}

.covid .list-data-covid{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.covid .list-data-covid .covid-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.covid .list-data-covid .covid-item:nth-child(0n + 2){
    border-left: 3px solid #6A36D9;
    border-right: 3px solid #6A36D9;
    padding: 0 30px;
    margin: 0 30px;
}

.covid .list-data-covid .covid-item .title{
    font-size: 19px;
    font-weight: 700;    
    margin-bottom: 5px;
}

.covid .list-data-covid .covid-item .result{
    font-size: 40px;
    font-weight: 700;
    color: #6A36D9;
}

/* covid */


/* list-card */

.list-card{
    width: 100%;
    padding: 70px 0;
    border: 1px solid #8836BF;
}
    .list-card .container > h2{
        font-size: 48px;
        font-weight: 700;
    }
.list-card .card-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.list-card .card-container .card-item{
    width: 268px;
    height: 268px;
    border: 1px solid #762EA6;
    border-radius: 12px;
    padding: 20px;

    display: flex;
    flex-direction: column;
}
.list-card .card-container .card-item:nth-child(0n + 2){
    margin: 0 50px;
}
.list-card .card-container .card-item .rashtag{
    font-size: 12px;
    margin-bottom: 8px;
}
.list-card .card-container .card-item .title-card-item{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 18px;
}
.list-card .card-container .card-item .context-card-item{
    font-size: 19px;
    font-weight: 400;
    width: 90%;
}

.btn-card-theme{
    width: 228px !important;
    height: 45px !important;
    border-radius: 30px !important;
    border: 1px solid #762EA6 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-top: auto;
}

/* list-card */



/* targe */
.targe-position{
    bottom: 0 !important;
}
.targe-container{
    position: fixed;
    width: 100%;
    height: 60px;
    bottom: -70px;
    z-index: 9999;
    transition: .4s ease-in;
}

.targe-container:hover{
    background-color: #000000 !important;
  }

.targe-container .container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.targe-container .container span{
    color: #ffffff;
}   
.targe-container .container > div{
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.targe-container .container img{
    width: 16px;
}
/* targe */



/* btn-up */

.btn-up{
    width: 45px;
    height: 45px;
    border: 2px solid #fff;    
    border-radius: 50%;
    position: fixed;
    z-index: 999;
    bottom: 100px;
    right: 35px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    transition: .4s ease-in;
}
.btn-up img{
    width: 25.5px;
    transform: rotate(-90deg);
}

.btn-up-none{
    opacity: 0;
}
/* btn-up */




footer{
    padding: 50px 0 90px 0;
}

footer .container > div{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .container > div:last-child{
    margin-top: 10px;
    justify-content: flex-end;
}

footer .container > div > div{
    width: 33.33%;
}
footer .menu nav{
    padding-top: 5px;
}
footer .menu ul{
    padding: 0;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 20px;
}
footer .menu ul li{
    margin-bottom: 3px;
}
footer .menu a{
    color: #ffffff;
    font-size: 20px;
}


footer .da{
    font-size: 16px;
    font-weight: 700;
    text-align: end;
}
footer .contato{
    border-left: 1px solid #ffffff ;
    border-right: 1px solid #ffffff ;
    padding: 0 30px;
    margin: 0 30px;
}

footer .contato h2{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #ffffff;
}

footer .contato img{
    width: 16px;
    height: 16px;
    margin-right: 10px;
}
footer .contato .tel{
    margin-top: 24px;
}
footer .contato span{
    font-size: 19px;
}


footer .social h2{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #ffffff;
}

footer .social .list-social{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
footer .social .list-social img{
    width: 30px;
    height: 30px;
}
footer .social .app img{
    width: 125px;
}




